<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
</head>

<h1>Chuck Nation</h1>

<h3>Upload a new patch:</h3>
<form action="/patch/create_patch" method="POST" enctype="multipart/form-data">
  Patch Name: <input type="text" name="patch[name]" value=""/><br>
  Featured: <input type="checkbox" name="patch[featured]" value="0"/><br>
  Documentation: <input type="checkbox" name="patch[documentation]" value="0"/><br>
  File to upload: <input type="file" name="patch[data]"><br>
  <br>
  <input type="submit" value="Create Patch">
</form>

<h3>API - best viewed using <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc">JSONView extension</a></h3>
<a href="/patch/json/all">/patch/json/all</a><br>
<a href="/patch/json/featured">/patch/json/featured</a><br>
<a href="/patch/json/documentation">/patch/json/documentation</a><br>

<h3>All Patches</h3>
<div style="overflow-x: auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
  <table cellpadding="10">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Featured</th>
    <th>Documentation</th>
    <th>Filename</th>
    <th>Content Type</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @patches.each do |patch| %>
        <tr>
          <td><%= patch.id %></td>
          <td><%= patch.name %></td>
          <td><%= patch.featured %></td>
          <td><%= patch.documentation %></td>
          <td><%= patch.filename %></td>
          <td><%= patch.content_type %></td>
          <td><a href='patch/download/<%= patch.id %>'>Download</a> / <a href='patch/delete/<%= patch.id %>'>Delete</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</html>
