<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
</head>

<h1>ChuckPad Social</h1>
<b>Latest status message:</b> <%= @latest_status_message %>

<% unless @logged_in_user.nil? %>
    <h3>Currently Logged In User</h3>
    <ul>
      <li>Username: <b><%= @logged_in_user.username %></b></li>
      <li><a href='user/logout/<%= @logged_in_user.id %>'>Log Out</a></li>
    </ul>
<% else %>
    <h3>You are not logged in. Go to the <a href="/user">/user</a> page to log in.</h3>
<% end %>

<div style="width: 100%; display: table;">
  <div style="display: table-row">
    <!-- Create Patch -->
    <div style="width: 600px; display: table-cell; padding-right: 2em;">
      <h3>Upload a new patch:</h3>
      <form action="/patch/create_patch" method="POST" enctype="multipart/form-data">
        <table>
          <tbody>
          <tr>
            <td>Patch Name (if blank upload filename will be used)</td>
            <td><input type="text" name="patch[name]" value=""/></td>
          </tr>
          <tr>
            <td>Patch Description</td>
            <td><input type="text" name="patch[description]" value=""/></td>
          </tr>
          <tr>
            <td>Parent Patch ID</td>
            <td><input type="text" name="patch[parent_id]" value=""/></td>
          </tr>
          <tr>
            <td>Featured</td>
            <td><input type="checkbox" name="patch[featured]" value="0"/></td>
          </tr>
          <tr>
            <td>Documentation</td>
            <td><input type="checkbox" name="patch[documentation]" value="0"/></td>
          </tr>
          <tr>
            <td>Hidden</td>
            <td><input type="checkbox" name="patch[hidden]" value="0"/></td>
          </tr>
          <tr>
            <td>File (10 KB max) to upload</td>
            <td><input type="file" name="patch[data]"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Create Patch"></td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- Update Patch -->
    <div style="display: table-cell;">
      <h3>Update a patch:</h3>
      <form action="/patch/update" method="POST" enctype="multipart/form-data">
        <table>
          <tbody>
          <tr>
            <td>Patch Id</td>
            <td><input type="text" name="patch[id]" value=""/></td>
          </tr>
          <tr>
            <td>Patch Name (if blank upload filename will be used)</td>
            <td><input type="text" name="patch[name]" value=""/></td>
          </tr>
          <tr>
            <td>Patch Description</td>
            <td><input type="text" name="patch[description]" value=""/></td>
          </tr>
          <tr>
            <td>File (10 KB max) to upload</td>
            <td><input type="file" name="patch[data]"></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Update Patch"></td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<h3>API - best viewed using <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc">JSONView extension</a></h3>
<ul>
  <li><a href="/patch/new/">/patch/new/</a> - returns recently created patches</li>
  <li><a href="/patch/json/user/1">/patch/json/user/1</a> - returns all non-hidden patches for user with id = 1</li>
  <li><a href="/patch/json/info/1">/patch/json/info/1</a> - returns information on patch with id = 1</li>
  <li><a href="/patch/json/all">/patch/json/all</a> - returns all unhidden patches</li>
  <li><a href="/patch/json/featured">/patch/json/featured</a> - returns all unhidden patches flagged as featured</li>
  <li><a href="/patch/json/documentation">/patch/json/documentation</a> - returns all unhidden patches flagged as documentation</li>
  <li><a href="/user">/user</a> - page to explore the user API</li>
</ul>

<h3>All Patches (sorted by most recently created)</h3>
<div style="overflow-x: auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
  <table class="fullscreen" cellpadding="10">
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Parent ID</th>
    <th>Featured</th>
    <th>Documentation</th>
    <th>Hidden</th>
    <th>Revision</th>
    <th>Filename</th>
    <th>Creator</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @patches.each do |patch| %>
        <tr>
          <td><%= patch.id %></td>
          <td><%= patch.name %></td>
          <td><%= patch.description %></td>
          <td><%= patch.parent_id %></td>
          <td><%= patch.featured %></td>
          <td><%= patch.documentation %></td>
          <td><%= patch.hidden %></td>
          <td><%= patch.revision %></td>
          <td><%= patch.filename %></td>
          <td><%= patch.creator_display_str %></td>
          <td>
              <a href='patch/download/<%= patch.id %>'>Download</a>
            / <a href='patch/download/<%= patch.parent_id %>'>Download Parent</a>
            / <a href='patch/delete/<%= patch.id %>'>Delete</a>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</html>
