<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">

  <style>
    .top {
      position: absolute;
      left: 0;  right: 0;
      height: 80px;
      padding: 1em;
    }

    .left {
      position: absolute;
      left: 0; top: 80px; bottom: 0;
      width: 178px;
      padding-top: 1em;
      padding-left: 1em;
    }

    .main {
      padding-top: 1em;
      position: absolute;
      left: 178px; top: 80px; right: 0; bottom: 0;
    }

    #wrapper {
      width: 800px;
      padding: 0.5em;
      border: 1px solid black;
      overflow: hidden; /* will contain if #first is longer than #second */
    }
    #first {
      width: 500px;
      float:left; /* add this */
    }
    #second {
      overflow: hidden; /* if you don't want #second to wrap below #first */
    }

    h3 { padding: 0; margin: 0; color: #3e3e3e }
    h4 { padding: 0; margin: 0; color: #3e3e3e }

    .top { background: #8ff444; }
    .left { background: #ffffff; }
    .main { background: #ffffff; }
  </style>
</head>

<body style="margin: 0px;">

  <div class="top">
    <div style="float: left;">
      <h3>ChucKPad Social</h3>
      <h4>Bring ChucK code to life, share ChucK with others, discover ChucK gems</h4>
    </div>

    <div style="float: right;">
      <h4><a href="/user/">Log In / Sing Up</a></h4>
    </div>

  </div>

  <div class="left">
    <!-- Check @mode for highlighting our currently selected tab -->
    <% if @mode == 'recent' %>
        <b><a href="/">Recently created</a></b>
    <% else %>
        <a href="/">Recently created</a>
    <% end %>
  </div>

  <div class="main">
    <div style="overflow-x: auto">
      <table class="fullscreen">
        <tbody>
        <% @patches.each do |patch| %>
            <div id="wrapper">
              <div id="first">
                <%= patch.name %><br>
                <%= patch.description %>
              </div>

              <div id="second">
                Created by: <b><%= patch.creator.username %></b><br>
                <a href='patch/download/<%= patch.guid %>'>Download ChucK source code</a><br>

                <audio controls preload="none" style="width:360px;">
                  <source src="patch/play/<%= patch.guid %>" type="audio/mp4" />
                </audio>
              </div>
             </div>
            </tr><br>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>
