<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
  <link rel="stylesheet" type="text/css" href="/chuckpad.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body style="margin: 0px;">

  <div class="top">
    <div style="float: left;">
      <h3>ChuckPad</h3>
      <h4>Bring ChucK code to life, share ChucK with others, discover ChucK gems!</h4>
    </div>

    <div style="float: right;">
      <h4><a href="/user/">Log In / Sign Up</a></h4>
    </div>

  </div>

  <div class="left">
    <!-- Check @mode for highlighting our currently selected tab -->
    <% if @mode == 'recent' %>
        <b><u>Recently created</u></b>
        <a href="examples">Examples</a>
    <% elsif @mode == 'examples' %>
        <a href="/">Recently created</a>
        <b><u>Examples</u></b>
    <% elsif @mode == 'user' %>
        <a href="/">Recently created</a>
        <a href="examples">Examples</a><br>
        <b><u><%= @search_username %></u></b>
    <% end %>

    <br>
    <br>
    <form action="find" method="POST">
      Find by user:<br>
      <input type="text" size="12" name="username" value=""/><br>
      <input type="submit" value="Search">
    </form>
    <br>
    <a href="/renderer">ChucK Renderer</a>
    <br>
    <br>
    <a href="/about">About ChuckPad</a>
  </div>

  <div class="main">
    <div style="overflow-x: auto">
      <table class="fullscreen">
        <tbody>
        <% @patches.each do |patch| %>
            <div id="wrapper">
              <div id="first">
                <%= patch.name %><br>
                <%= patch.description %>
              </div>

              <div id="second">
                Created by: <a href="/find/<%= patch.creator.username %>"><b><%= patch.creator.username %></b></a><br>
                <a href='patch/download/<%= patch.guid %>'>Download ChucK source code</a><br>

                <audio controls preload="none" style="width:360px;">
                  <source src="patch/play/<%= patch.guid %>" type="audio/mp4" />
                </audio>
              </div>
             </div>
            </tr><br>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>
