<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/table.css">
</head>

<h1>ChuckPad Social</h1>
<b>Latest status message:</b> <%= @latest_status_message %>

<% unless get_logged_in_user.nil? %>
    <h3>Currently Logged In User</h3>
    <ul>
      <li>Username: <%= @logged_in_user.username %></li>
      <li>
        <form action="/user/change_password" method="POST">
          <td>Change Password:</td>
          <td><input type="text" name="new_password" value=""/></td>
          <td><input type="hidden" id="" name="user_id" value=<%= @logged_in_user.id %>/></td>
          <td><input type="submit" value="Change"></td>
        </form>
      </li>
      <li><a href='user/logout'>Log Out</a></li>
    </ul>
<% else %>
    <h3>You are not logged in.</h3>
<% end %>

<div style="width: 100%; display: table;">
  <div style="display: table-row">
    <!-- Create User -->
    <div style="width: 600px; display: table-cell;">
      <h3>Create User</h3>
      <form action="/user/create_user" method="POST">
        <table>
          <tbody>
          <tr>
            <td>Username:</td>
            <td><input type="text" name="user[username]" value=""/></td>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type="text" name="user[email]" value=""/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="text" name="password" value=""/></td>
          </tr>
          <tr>
            <td>Admin:</td>
            <td><input type="checkbox" name="user[admin]" value="0"/></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Create User"></td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>

    <!-- Login -->
    <div style="display: table-cell;">
      <h3>Login</h3>
      <form action="/user/login" method="POST">
        <table>
          <tbody>
          <tr>
            <td>Username / Email:</td>
            <td><input type="text" name="username_or_email" value=""/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type="text" name="password" value=""/></td>
          </tr>
          <tr>
            <td></td>
            <td><input type="submit" value="Log In"></td>
          </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<!-- TODO Remove this (or block it on non-dev running) before release -->
<h3>All Users</h3>
<div style="overflow-x: auto; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
  <table class="fullscreen" cellpadding="10">
    <thead>
    <th>Id</th>
    <th>Username</th>
    <!-- <th>Email</th> -->
    <th>Admin</th>
    <th>Email Confirmed</th>
    <th>Patch Count (All / Visible / Hidden)</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <!-- <td><%= user.email %></td> -->
          <td><%= user.admin %></td>
          <td><%= user.email_confirmed %></td>
          <td><%= user.get_patch_count %></td>
          <td><a href='patch/user/<%= user.id %>'>Patch List</a></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

</html>
